---
width: 120
height: 560

axes:
  - type: x
    scale: x
  - type: y
    scale: y

scales:
  - name: x
    range: width
    domain: [0.0, 15e-6]
    domainMax: 15e-6
  - name: y
    range: height
    domain: [0.0, 70e-6]

marks:
{%- for datum in data %}
  - type: line
    from:
      data: {{ datum.name }}
    properties:
      enter:
        x:
          scale: x
          field: x
        y:
          scale: y
          field: y
        stroke:
          value: steelblue
{%- endfor %}

data:
{%- for datum in data %}
  - name: {{ datum.name }}
    values: {{ datum['values'] }}
    transform:
      - type: filter
        test: "datum.x < 15e-6"
{%- endfor %}
